#introduction{
    text-align: justify;
    font-style:oblique;
}

.jumbotron{
    background-color: slategray;
    min-height: 100px;
}

.main{
    margin-left: 5%;
    margin-right: 5%;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title-text{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.footer{
    margin-left: none;
    margin-right: none;
}

body{
    margin-bottom: 100px;
    background-color: whitesmoke;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h3, h4{
    color: darkslategray;
}